<div class="sidebar" id="sidebar">
    <a href="/home" class="logo">DealerX</a>

    <a href="/home" class="<%= page === 'home' ? 'active' : '' %>">
        <i class="fa-solid fa-house"></i>
        <span class="lang" data-en="Home" data-ar="الرئيسية">Home</span>
    </a>

    <a href="/dashboard" class="<%= page === 'dashboard' ? 'active' : '' %>">
        <i class="fa-solid fa-table-columns"></i>
        <span class="lang" data-en="Dashboard" data-ar="لوحة التحكم">Dashboard</span>
    </a>

    <a href="#">
        <i class="fa-solid fa-shield-halved"></i>
        <span class="lang" data-en="Servers" data-ar="السيرفرات">Servers</span>
    </a>

    <a href="#">
        <i class="fa-solid fa-gear"></i>
        <span class="lang" data-en="Settings" data-ar="الإعدادات">Settings</span>
    </a>

    <a href="#">
        <i class="fa-solid fa-robot"></i>
        <span class="lang" data-en="Commands" data-ar="الأوامر">Commands</span>
    </a>

    <a href="/logout" style="margin-top: 50px; color: #ff4d4d;">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="lang" data-en="Logout" data-ar="تسجيل الخروج">Logout</span>
    </a>
</div>
